_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor


# untouched copies of gallery photos, kept locally by bin/resize_gallery_photos.sh
.photo-originals
